<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Display Puppy</title>
  </head>
  <body>
    <h1>Display A Puppy</h1>
    <h2>Puppy Name:</h2>
      <h3><%="#{params["name"]}"%></h3>
    <h2>Puppy Breed:</h2>
      <h3><%="#{params["breed"]}"%></h3>
    <h2>Puppy Age:</h2>
      <h3><%="#{params["age"]}"%></h3>
  </body>
</html>
